*{
    margin:0;
    padding:0;
}


head
{
  background-color: black;
}


nav{
    text-align: center;
}


ul{
    margin:0;
    padding: 0;
    list-style-type: none;
}   
li{
    display: inline-block;
    margin-right: 4em;
   margin-top: 15px;
    
}
ul li a:hover{
    color:orangered;
}


@media screen and (max-width:480px){
   
    .menu-wrap {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .menu-wrap .toggler {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*Hamburger line*/
    .menu-wrap .hamburger>section {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    /*Top and bottom line*/
    .menu-wrap .hamburger>section:before, .menu-wrap .hamburger>section:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
    /*Moves line down*/
    .menu-wrap .hamburger>section:after {
        top: 10px;
    }
    /* Toggler animation */
    .menu-wrap .toggler:checked+.hamburger>section {
        transform: rotate(135deg);
        background-color: #333;
    }
    /* Turn bars into cross */
    .menu-wrap .toggler:checked+.hamburger>section:before, .menu-wrap .toggler:checked+.hamburger>section:after {
        top: 0;
        transform: rotate(90deg);
        background-color: #333;
    }
    /* Revealing area */
    .menu-wrap .toggler:checked~.menu {
        visibility: visible;
    }
    .menu-wrap .toggler:checked~.menu>section {
        transform: translateX(+0%);
        transition-duration: 0.4s;
    }
    .menu-wrap .toggler:checked~.menu>section>section {
        opacity: 1;
        transition: opacity 0.4s;
    }
    .menu-wrap .menu {
        line-height: 3em;
        position: fixed;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        justify-content: right;
    }
    .menu-wrap .menu>section {
        background-color: rgba(255, 255, 255, 0.95);
        border: #333 solid 1px;
        width: 50%;
        height: 100%;
        left: 0;
        display: flex;
        flex: none;
        transform: translateX(-100%);
        transition: all 0.4s;
    }
    .menu-wrap .menu>section>section {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        transition: opacity 0.4s ease;
    }
    .menu-wrap .menu>section>section>ul {
        margin-top: 3em;
    }
    .menu-wrap .menu>section>section>ul>li {
        list-style: none;
        color: #333;
        font-size: 1.5rem;
        padding: 1rem;
        text-align: right;
        border-bottom: #333 0.5px solid;
    }
    .menu-wrap .menu>section>section>ul>li>a {
        color: inherit;
        text-decoration: none;
    }
}

@media all and (min-width:481) and (max-width:1279px)
{
    .usinggrid{
        display:grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }
    .article1{
        grid-column-start: 1;
        grid-column-end:4 ;

    }
}
@media screen  and (min-width:1280px){
    .usinggrid{
    
        display: grid;
        width: 100vw;
        height: 100vh;
    
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows:  50px 50px 50px 50px 25% 20% 15%  20px 300px 50px;
        grid-gap:10px;
        padding:10px;
        box-sizing: border-box;
    }
    .title{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1 ;
        grid-row-end: 2;
    text-align: left;
        background-color: black;
        color:white; 
        align-items: center; 
    }

    .heading1{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2 ;
        grid-row-end: 3;
        text-align: center;
        background-color: rgb(90, 86, 83);
        color:white;
    }
    .heading2{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3 ;
        grid-row-end: 4;
        text-align: center;
        background-color: rgb(162, 165, 159);
        color:white;
    }
    .menu{
        grid-column-start: 1;
        grid-column-end: 4; 
        grid-row-start: 4 ;
        grid-row-end: 5; 
        background-color: rgb(45, 68, 197);
        color:black;
        font-weight: 600;
        
    }

    .article1{
        
    background-color: rgb(232, 241, 103);
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5 ;
    grid-row-end: 7; 
    }
    #article2{
    
        background-color: rgb(92, 187, 69);
        grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5 ;
        grid-row-end: 6; 
    }
    #article3{
        background-color: rgb(109, 133, 199); 
        grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5 ;
    grid-row-end: 6; 
    
    
    }
    #article4{
    
        background-color: rgb(95, 180, 88); 
        grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6 ;
    grid-row-end: 7; 
    
        
    }
    #article5{

    background-color: rgb(59, 124, 155); 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6 ;
    grid-row-end: 8; 

    }


    #article6{
        background-color: rgb(179, 64, 140); 
        grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:  7;
    grid-row-end: 8; 
    
    
    }
    #otherlocation{
        margin-top: 10px;
        grid-column-start: 1;
        grid-column-end: 4; 
        grid-row-start: 8 ;
        grid-row-end: 9; 
        color:black; 
        text-align: center; 

    }
    #otherplace{
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 20px;
        clear: both;
    }

    #footer{
        grid-column-start: 1;
        grid-column-end: 3;  
        grid-row-start: 10 ;
        grid-row-end: 11;
        background-color: rgb(172, 172, 192); 
        text-align: center;

    }
    footer p{
        text-align: center;
        margin-top: 1em;
    }


    
    #aside1{
        margin-top: 10px;
        grid-column-start: 1;
        grid-column-end: 2; 
        grid-row-start: 9 ;
        grid-row-end: 10; 
        background-color:rgba(104, 109, 124, 0.753);  
    }  
    #aside2{
        margin-top: 10px;
        grid-column-start: 2;
        grid-column-end: 3; 
        grid-row-start: 9 ;
        grid-row-end: 10; 
        background-color: rgb(86, 92, 90);  
        color:#fff;
    }  
    #aside3{
        margin-top: 10px;
        grid-column-start: 3;
        grid-column-end: 4; 
        grid-row-start: 9 ;
        grid-row-end: 10; 
        background-color: rgb(61, 58, 58); 
        color:#fff; 
    } 
    *p{
        font-size: 200px;
        font-size:  Arial, Helvetica, sans-serif;
    } #cookies{
        grid-column-start: 3;
        grid-column-end: 4; 
        grid-row-start: 10 ;
        grid-row-end: 11;  
        background-color: #FA0; 
        color: #fff;
        opacity: 50%;
        z-index: 9999;
        padding: 1em;
        position: fixed;
        font-size: 24px;
        bottom:0;
        right:0;
    }

}
